# dependencies
node_modules/

# IDE
/.idea

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
**/npm-debug.log

# environment
.env

# build
/dist

# tests
/test
/coverage
/.nyc_output
build/config\.gypi

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
